{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}





  <div class="container-fluid">
    
    <div id="logoutmessage"></div>
    
    <div class="position">
    <h3 class="mt-4">Profile</h3>
    
    <div  style="margin-left:1200px" class="col-md-2 my-3">
      <button type="button"  id="samcologout" class="btn btn-dark mr-3 ">Log Out</button>
    </div>
    

  </div>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href= "index.html">Dashboard</a></li>
      <li class="breadcrumb-item active">Profile</li>
      <li style="margin-left:800px" id="profilesessionTokenhtml"></li>
    </ol>
  
  
  
    
  <div >
    <h3>Equity Margin</h3>
    <br>  
    
    <div class="table-responsive">
        <table class="table">
          
          <tbody id="equitymargin">
                        
            
    
    
            
          </tbody>
          
        </table>
          
    </div>
  <br><br><br><br>
  

        
  </div>
  
  
  
  
  
  
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}    